@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Lato, sans-serif;
    background-color: black;
}

/* /////////////////////// HEADER /////////////////////// */

header {
    background: transparent url(../img/sangre.png) repeat-x scroll 0 0;
    background-size: 400px;
    height: 160px;
    width: 100%;
    position: fixed;
    top: 0;
}

header > div {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 300px;
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0));
    animation-name: entrada-derecha;
    animation-duration: 1.5s;
}



header .nav-superior {
    background: rgba(0, 0, 0, 0.446);
    border-top: 2px #650000 solid;
    border-bottom: 2px #650000 solid;
    animation-name: entrada-izquierda;
    animation-duration: 1.5s;
}

@keyframes entrada-izquierda {
    0% {
        opacity: 0;
        transform: translateX(200px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

header .nav-superior li {
    list-style: none;
    display: inline-block;
    padding: 15px;
    
}

header .nav-superior li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 0px black;
    padding: 5px;
    transition: all .2s;
    border-radius: 10px;
}

header .nav-superior li a:hover {
    background-color: #65000088;
}

header .nav-superior li a:active {
    transform: translateY(2px);
}

header .boton-nav {
    height: 30px;
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
}

header .boton-nav span {
    border-top: solid white 2px;
    height: 0;
    width: 30px;
    box-shadow: 2px 2px 2px 0 black;
}

.nav-lateral {
    background-color: #650000;
    width: 80vw;
    height: 100vh;
    position: fixed;
    right: 0;
    z-index: 999;
    display: none;
    box-shadow: -15px 0 5px 0 rgba(0, 0, 0, 0.487);
    animation-name: entrada-nav;
    animation-duration: 1.3s;
}

@keyframes entrada-nav {
    from {
        transform: translateX(200px);
    }
    to {
        transform: translateX(0);
    }
}

.nav-lateral ul {
    padding: 80px 40px;
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-lateral ul a {
    text-decoration: none;
    color: white;
}

.nav-lateral .cruz {
    cursor: pointer;
    position: absolute;
    top: 70px;
    right: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 0px;
}

.nav-lateral .cruz span:nth-child(1) {
    border-top: solid white 2px;
    height: 0;
    width: 30px;
    box-shadow: 2px 2px 2px 0 black;
    transform: rotate(45deg);
}

.nav-lateral .cruz span:nth-child(2) {
    position: relative;
    bottom: 2px;
    border-top: solid white 2px;
    height: 0;
    width: 30px;
    box-shadow: 2px 2px 2px 0 black;
    transform: rotate(-45deg);
}

.home {
    display: flex;
    height: 100vh;
    background: black url(../img/portada.webp) repeat-y scroll;
    background-size: auto 100%;
    background-position: center 40px;
}

.home h1{
    margin: auto;
    color: #650000;
    padding: 20px;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 white, 2px 2px 2px black;
    animation-name: entrada-derecha;
    animation-duration: 1.5s;
}

@keyframes entrada-derecha {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@media (max-width: 900px) {
    header ul {
        display: none;
    }
    header .boton-nav {
        display: flex;
    }
}


@media (max-width: 800px) {
    header img {
        width: 220px;
    }
}

@media (max-width: 650px) {
    header img {
        width: 170px;
    }
}


/* ////////////////////////////// SECTION ////////////////////////////// */


.section1 {
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    color: white;
}

.section1 h2 {
    margin: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}

.section1 p {
    text-align: justify;
    line-height: 1.7;
}

.section1 img {
    display: block;
    width: 400px;
    margin: 20px auto;
    border-radius: 20px;
}

.section2 {
    background-color: rgb(77, 77, 77);
    padding: 40px;
}

.section2 h2 {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    color: #650000;
    margin: 20px;
}

.personajes {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.personajes .persona {
    background-color: #650000;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* height: 30vw; */
    justify-content: space-between;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.542);
}

.personajes .persona .persona__foto {
    height: 380px;
    
}

.personajes .persona .persona__foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.personajes .persona .persona__texto {
    background-color: #650000;
    text-align: center;
    color: white;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.personajes .persona .persona__texto h3 {
    font-weight: 400;
    font-size: 18px;
}


.section3 {
    padding: 40px;
    width: 78%;
    margin: 0 auto;
}

.section3 h2 {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    margin: 20px;
    color: white;
}

.cards-temporada {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.cards-temporada .card-temporada {
    position: relative;
    color: white;
    height: 286px;
    overflow: hidden;
    border-radius: 10px;
}
.cards-temporada .card-temporada img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.cards-temporada .card-temporada h3 {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    height: 40px;
    line-height: 40px;
    background: linear-gradient(to top, rgb(255, 0, 0), rgba(255, 0, 0, 0.33), rgba(255, 0, 0, 0.056));
    text-shadow: 1px 1px 2px black;
}

@media (max-width: 1100px) {
    .section3 {
        width: 90%;
    }
}

@media (max-width: 800px) {
    .personajes {
        grid-template-columns: repeat(2, 1fr);
    }
    .personajes .persona .persona__texto h3 {
        font-size: 16px;
    }
    .cards-temporada {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 650px) {
    .personajes {
        grid-template-columns: 1fr;
    }
    .personajes .persona .persona__texto h3 {
        font-size: 14px;
    }
    .section1 img {
        width: 80%;
    }
    .section1 {
        width: 90%;
    }
    .cards-temporada {
        grid-template-columns: repeat(1, 1fr);
    }
    .cards-temporada .card-temporada img {
        height: auto;
        width: 100%;
    }
}


footer iframe {
    width: 100%;
}

footer p {
    text-align: center;
    color: white;
    padding: 15px;
    background-color: rgb(53, 53, 53);
}